<% include partials/header %>
<!-- Navbar Begins -->

<body style="padding: 0 20px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand mb-0 h1 logo" href="/"
            ><img
                src="/images/Logo (2).png"
                width="32px"
                height="32px"
                class="d-inline-block align-top"
                alt="BookEx"
            />
            BookEx</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/" style="margin: 0 10px">Home</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/books" style="margin: 0 10px"
                        >Books</a
                    >
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/ebooks" style="margin: 0 10px"
                        >E-Books/PDFs</a
                    >
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/misc" style="margin: 0 10px"
                        >Miscellaneous</a
                    >
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/books/new" style="margin: 0 10px"
                        >Lend Items</a
                    >
                </li>
                <% if(currentUser != null) {%>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/mybooks" style="margin: 0 10px"
                        >My Books</a
                    >
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                <li class="nav-item">
                    <form
                        class="form-inline my-2 my-lg-0"
                        action="/signup"
                        method="GET"
                    >
                        <button
                            class="btn btn-outline-info my-2 my-sm-0"
                            style="margin: 0 10px"
                        >
                            Login
                        </button>
                    </form>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <% if(show) { console.log(seen); if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"
                        ><i
                            class="fas fa-bell btn-lg"
                            style="background-color: blue; color: white"
                        ></i
                    ></a>
                    <% } } %>
                </li>
                <li class="nav-item" style="text-align: center">
                    <span class="my-2 my-lg-0 mx-4">Logged in as:</span>
                    <br />
                    <span class="my-2 my-lg-0 mx-4"
                        ><%= currentUser.firstname %> <%= currentUser.lastname
                        %></span
                    >
                </li>
                <li
                    class="nav-item my-auto"
                    style="text-align: center; color: white; font-size: 24px"
                >
                    <a
                        class="my-2 my-lg-0 mx-4"
                        style="
                            color: black;
                            background-color: transparent;
                            border: 0;
                        "
                        href="<%= currentUser._id.toString() %>/cart"
                        ><i class="fa fa-shopping-cart"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <form
                        class="form-inline my-2 my-lg-0"
                        action="/signout"
                        method="GET"
                    >
                        <button
                            class="btn btn-outline-danger my-2 my-sm-0"
                            style="margin: 0 10px"
                        >
                            Logout
                        </button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <!-- End of Navbar -->
    <!-- Adding extra margin -->
    <p style="margin: 8%"></p>

    <div class="row" style="margin: 30px 0">
        <div class="col-lg-12" style="text-align: center">
            <div
                style="
                    box-shadow: 0px 0px 20px 9px #0000001a;
                    border-radius: 25px;
                "
            >
                <div class="row">
                    <div class="col-lg-3">
                        <h1
                            style="
                                text-align: center;
                                margin: 10px;
                                text-decoration: underline;
                            "
                        >
                            Users
                        </h1>
                        <div
                            id="value"
                            style="font-size: 64px; display: inline-block"
                        >
                            <%= users.length %>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h1
                            style="
                                text-align: center;
                                margin: 10px;
                                text-decoration: underline;
                            "
                        >
                            Books
                        </h1>
                        <div
                            id="value1"
                            style="font-size: 64px; display: inline-block"
                        >
                            <%= books.length %>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h1
                            style="
                                text-align: center;
                                margin: 10px;
                                text-decoration: underline;
                            "
                        >
                            E-Books
                        </h1>
                        <div
                            id="value2"
                            style="font-size: 64px; display: inline-block"
                        >
                            <%= ebooks.length %>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h1
                            style="
                                text-align: center;
                                margin: 10px;
                                text-decoration: underline;
                            "
                        >
                            Miscellaneous
                        </h1>
                        <div
                            id="value3"
                            style="font-size: 64px; display: inline-block"
                        >
                            <%= misc.length %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- All Contents -->
            <div
                style="
                    box-shadow: 0px 0px 20px 9px #0000001a;
                    border-radius: 25px;
                "
            >
                <h1
                    style="
                        text-align: center;
                        margin: 10px;
                        text-decoration: underline;
                    "
                >
                    All Contents
                </h1>
                <div style="text-align: center">
                    <button
                        class="btn btn-primary"
                        id="book_btn"
                        onclick="onbook()"
                    >
                        Books
                    </button>
                    <button
                        class="btn btn-secondary"
                        id="ebook_btn"
                        onclick="onebook()"
                    >
                        E-Books
                    </button>
                    <button
                        class="btn btn-secondary"
                        id="misc_btn"
                        onclick="onmisc()"
                    >
                        Miscellaneous
                    </button>
                    <button
                        class="btn btn-secondary"
                        id="report_btn"
                        onclick="onreport()"
                    >
                        Reports
                    </button>
                </div>
                <!-- Books -->
                <div
                    style="height: 50vh; overflow: auto; display: block"
                    id="book_list"
                >
                    <% console.log(report); for(const book of books) {
                    if(!book.is_display || book.is_display) {%>
                    <div style="width: 100%; height: auto">
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <img
                                src="<%= book.image.replace((book.image).split('/')[(book.image).split('/').length - 2], 'w_500,f_auto') %>"
                                alt="..."
                                class="img-thumbnail"
                                style="
                                    object-fit: contain;
                                    height: auto;
                                    margin: 10px;
                                "
                            />
                        </div>
                        <!-- Title -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 45%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <h5 style="display: inline-block">
                                <a
                                    href="/books/<%= book._id %>"
                                    style="color: black"
                                    target="_blank"
                                    ><%= book.title %></a
                                >
                            </h5>
                        </div>
                        <!-- Tag and branch -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <% if(book.branch == null) { %>
                            <p
                                style="
                                    background-color: orange;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                all
                            </p>
                            <% } else { %>
                            <p
                                style="
                                    background-color: orange;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                <%= book.branch %>
                            </p>
                            <% } %>
                        </div>
                        <!-- Accept -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/ab"
                                method="GET"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-check"
                                        style="color: green; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                        <!-- Remove -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/ab?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-times"
                                        style="color: red; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <% }} %>
                </div>
                <!-- EBooks -->
                <div
                    style="height: 50vh; overflow: auto; display: none"
                    id="ebook_list"
                >
                    <% for(const book of ebooks) { if(!book.is_display ||
                    book.is_display) {%>
                    <div style="width: 100%; height: auto">
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <img
                                src="https://lh3.googleusercontent.com/d/<%= book.file_id %>=s450?authuser=0"
                                alt="..."
                                class="img-thumbnail"
                                style="
                                    object-fit: contain;
                                    height: auto;
                                    margin: 10px;
                                "
                            />
                        </div>
                        <!-- Title -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 45%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <h5 style="display: inline-block">
                                <a
                                    href="/ebooks/<%= book._id %>"
                                    style="color: black"
                                    target="_blank"
                                    ><%= book.title %></a
                                >
                            </h5>
                        </div>
                        <!-- Branch and Tag -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <% if(book.branch == null) { %>
                            <p
                                style="
                                    background-color: orange;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                all
                            </p>
                            <% } else { %>
                            <p
                                style="
                                    background-color: orange;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                <%= book.branch %>
                            </p>
                            <% } %> <% if(book.tag == null) { %>
                            <p
                                style="
                                    background-color: #bb00ff;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                oth
                            </p>
                            <% } else { %>
                            <p
                                style="
                                    background-color: #bb00ff;
                                    display: inline-block;
                                    padding: 0 10px;
                                    border-radius: 25px;
                                    color: white;
                                "
                            >
                                <%= book.tag %>
                            </p>
                            <% } %>
                        </div>
                        <!-- Accept -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/aeb"
                                method="GET"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-check"
                                        style="color: green; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                        <!-- Remove -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/aeb?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-times"
                                        style="color: red; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <% }} %>
                </div>
                <!-- Misc -->
                <div
                    style="height: 50vh; overflow: auto; display: none"
                    id="misc_list"
                >
                    <% for(const book of misc) { if(!book.is_display ||
                    book.is_display) {%>
                    <div style="width: 100%; height: auto">
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <img
                                src="<%= book.image.replace((book.image).split('/')[(book.image).split('/').length - 2], 'w_500,f_auto') %>"
                                alt="..."
                                class="img-thumbnail"
                                style="
                                    object-fit: contain;
                                    height: auto;
                                    margin: 10px;
                                "
                            />
                        </div>
                        <!-- Title -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 45%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <h5 style="display: inline-block">
                                <a
                                    href="/misc/<%= book._id %>"
                                    style="color: black"
                                    target="_blank"
                                    ><%= book.title %></a
                                >
                            </h5>
                        </div>
                        <!-- Price -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <p><i class="fa fa-inr"></i> <%= book.price %></p>
                        </div>
                        <!-- Accept -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/am"
                                method="GET"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-check"
                                        style="color: green; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                            <!-- <a
                            href="/<%= currentUser._id.toString() %>/cart/<%= book._id.toString() %>"
                            ><i
                                class="fas fa-check"
                                style="color: green; font-size: 28px"
                            ></i
                        ></a> -->
                        </div>
                        <!-- Remove -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= book._id %>/am?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-times"
                                        style="color: red; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <% }} %>
                </div>
                <!-- Report -->
                <div
                    style="height: 50vh; overflow: auto; display: none"
                    id="report_list"
                >
                    <% console.log(report); for(const book of report) { var dir = "";
                    if(book.object_model == "EBook") dir = "ebooks"; else if
                    (book.object_model == "Book") dir = "books"; else dir =
                    "misc";%>
                    <div style="width: 100%; height: auto">
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 15%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <a
                                target="_blank"
                                style="color: black"
                                href="/<%=dir%>/<%=book.object._id%>"
                                ><h5><%= book.object.title %></h5></a
                            >
                        </div>
                        <!-- Title -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 50%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <p style="display: inline-block">
                                <%= book.comment %>
                            </p>
                        </div>
                        <!-- Accept -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 20%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <details>
                                <summary>
                                    <%= book.reporter.firstname %>
                                </summary>
                                <p style="font-size: 12px">
                                    <%= book. reporter.firstname %> <%=
                                    book.reporter.lastname %><br /><%=
                                    book.reporter.username %><br /><%=
                                    book.reporter.mobileno %>
                                </p>
                            </details>
                        </div>
                        <!-- Remove -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/report/<%= book._id %>/delete?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-times"
                                        style="color: red; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                style="
                    box-shadow: 0px 0px 20px 9px #0000001a;
                    border-radius: 25px;
                "
            >
                <h1
                    style="
                        text-align: center;
                        margin: 10px;
                        text-decoration: underline;
                    "
                >
                    Feedbacks
                </h1>
                <!-- Margin div -->
                <div style="text-align: center; visibility: hidden">
                    <button
                        class="btn btn-primary"
                        id="book_btn"
                        onclick="onbook()"
                    >
                        Books
                    </button>
                    <button
                        class="btn btn-secondary"
                        id="ebook_btn"
                        onclick="onebook()"
                    >
                        E-Books
                    </button>
                    <button
                        class="btn btn-secondary"
                        id="misc_btn"
                        onclick="onmisc()"
                    >
                        Miscellaneous
                    </button>
                </div>
                <div
                    style="height: 50vh; overflow: auto; display: block"
                    id="book_list"
                >
                    <% for(const feed of feeds) {%>
                    <div style="width: 100%; height: auto">
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 20%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <p style="font-weight: 700"><%= feed.name %></p>
                        </div>
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 65%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <p><%= feed.content %></p>
                        </div>
                        <!-- Remove -->
                        <div
                            style="
                                padding: 10px;
                                height: 100%;
                                width: 10%;
                                display: inline-block;
                                text-align: center;
                            "
                        >
                            <form
                                action="/secretkitab04848/<%= feed._id %>/feed?_method=DELETE"
                                method="POST"
                            >
                                <button
                                    type="submit"
                                    style="
                                        background-color: transparent;
                                        border: 0;
                                    "
                                >
                                    <i
                                        class="fas fa-times"
                                        style="color: red; font-size: 28px"
                                    ></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        var book_btn = document.getElementById("book_btn");
        var book_list = document.getElementById("book_list");
        var ebook_btn = document.getElementById("ebook_btn");
        var report_btn = document.getElementById("report_btn");
        var ebook_list = document.getElementById("ebook_list");
        var misc_btn = document.getElementById("misc_btn");
        var misc_list = document.getElementById("misc_list");
        var report_list = document.getElementById("report_list");

        function onbook() {
            book_btn.classList.remove("btn-secondary");
            book_btn.classList.add("btn-primary");
            ebook_btn.classList.add("btn-secondary");
            ebook_btn.classList.remove("btn-primary");
            misc_btn.classList.add("btn-secondary");
            misc_btn.classList.remove("btn-primary");
            report_btn.classList.add("btn-secondary");
            report_btn.classList.remove("btn-primary");

            book_list.style.display = "block";
            ebook_list.style.display = "none";
            misc_list.style.display = "none";
            report_list.style.display = "none";
        }
        function onmisc() {
            misc_btn.classList.remove("btn-secondary");
            misc_btn.classList.add("btn-primary");
            ebook_btn.classList.add("btn-secondary");
            ebook_btn.classList.remove("btn-primary");
            book_btn.classList.add("btn-secondary");
            book_btn.classList.remove("btn-primary");
            report_btn.classList.add("btn-secondary");
            report_btn.classList.remove("btn-primary");

            misc_list.style.display = "block";
            ebook_list.style.display = "none";
            book_list.style.display = "none";
            report_list.style.display = "none";
        }
        function onebook() {
            ebook_btn.classList.remove("btn-secondary");
            ebook_btn.classList.add("btn-primary");
            book_btn.classList.add("btn-secondary");
            book_btn.classList.remove("btn-primary");
            misc_btn.classList.add("btn-secondary");
            misc_btn.classList.remove("btn-primary");
            report_btn.classList.add("btn-secondary");
            report_btn.classList.remove("btn-primary");

            ebook_list.style.display = "block";
            book_list.style.display = "none";
            report_list.style.display = "none";
            misc_list.style.display = "none";
        }
        function onreport() {
            ebook_btn.classList.remove("btn-primary");
            ebook_btn.classList.add("btn-secondary");
            book_btn.classList.add("btn-secondary");
            book_btn.classList.remove("btn-primary");
            misc_btn.classList.add("btn-secondary");
            misc_btn.classList.remove("btn-primary");
            report_btn.classList.remove("btn-secondary");
            report_btn.classList.add("btn-primary");

            ebook_list.style.display = "none";
            report_list.style.display = "block";
            book_list.style.display = "none";
            misc_list.style.display = "none";
        }
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min(
                    (timestamp - startTimestamp) / duration,
                    1
                );
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const obj = document.getElementById("value");
        animateValue(obj, 0, <%= users.length %>, 2500);
        const obj1 = document.getElementById("value1");
        animateValue(obj1, 0, <%= books.length %>, 2500);
        const obj2 = document.getElementById("value2");
        animateValue(obj2, 0, <%= ebooks.length %>, 2500);
        const obj3 = document.getElementById("value3");
        animateValue(obj3, 0, <%= misc.length %>, 2500);
    </script>

    <% include partials/footer %>
</body>
